{% extends 'site/main/base.html' %}
{% load static %}
{% block content %}
  <!-- about breadcrumb -->
  <section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
      <div class="container py-2">
        <h2 class="title">About Us</h2>
        <ul class="breadcrumbs-custom-path mt-2">
          <li><a href="{% url 'sales:homeone' %}">Home</a></li>
          <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> About </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //about breadcrumb -->
  
<!-- /about-6-->
<section class="w3l-cta4 py-5">
  <div class="container py-lg-5">
    <div class="">
      <h6 class="sub-title">About Us</h6>
      <h3 class="hny-title">AWAKENING SAINTS</h3>
      <p class="">
       <h4> Background</h4>
        <br>
        <p>Kireka Christian Fellowship Prayer Altar is a prophetic ministry that started in 2017 its located at kireka wakiso district and it's owned by the Holy spirit. 
        it has no human owner. It's beginning was prophetic, a prophesy that come from Apostle George Mutamba asking Mrs Rose Kiraga to begin a prayer Altar and they began as a family.
        Prophetess Shalom Abraham kikazi kalungi, Rose Kirraga, Apostle Nabwami Victoria, the Holy spirit fellow on Prophetess Shalom Abraham kikazi instructing 
        Apostles Barasa Robert Samuel to head the ministry
        </p>
      <br>
        <p>
          After wards God selected the five pillars to head his ministry through the guidance of Holy Spirit.
          Apostle Robert Barasa (Head) Kikazi Shalom kalungi head prophesy, worship team, Pastor Denis kalungi Head pastoral team, 
          Apostle George Mutamba patron and Mrs Roses Rose kiragga Chairman elders. Kireka Christian Fellowship Prayer Altar begun as a prayer Altar.
          its light every day from 12:Pm-8:00Pm up to date from Monday to Monday. This ministry is a fivefold ministry with Apostles, Teachers, Evangelists, Prophets and Pastors as in (Ephesians 4:11)..
      </p>
      <br>
        <p>
        From house to house altar to a general altar which started from a salon, later on street and to a room. 
        Through the guidance of the holy spirit after 2 and half years what was a prayer altar progressed to a Church. 
        Kireka Christian Fellowship Prayer Altar is a registered church. with a church account number, Momo pay Number and Merchant number. 
        check on Donate.
      </p>
    <p>
        
    Church program. Lunch hour service from 12: 00 PM- 2:30 PM daily Evening service from 05:Pm-8:00PM daily Sunday service first service from 8:Am-10:00AM, 
    Second service from 10:00AM-1:15PM. Where by its core value is righteousness and holiness.
    </p>

<br>
       <h4>Vision:</h4> 
       <p>To take back the church to true foundation and teaching the true word in order for the church to get 100 % on the earth 100 % in heaven.
           Righteousness and holiness are the foundation of his throne (psalms 89; 14), seeking the kingdom of heaven and his righteousness and the rest will be added unto you (Mathew 6:33).
          </p>
        <br>
        <p>To empower believers spiritually, financially, physically, morally, academically with wisdom, knowledge and understanding through the word of the living God..</p>

       <br><br>
       <h4>Mission:</h4>  
       <p>Taking back the church to its true foundation</p>
        <br>
        <br>
        <h4>Objectives</h4>
  <br>
        <ol>
          <li><p>Turning seeker into saints</p></li>
          <li><p>Members into ministers</p></li>
          <li><p>Church goers into an army of God</p></li>
          <li><p>Sharing the good news of Jesus Christ with hundreds of thousands of residents in Kireka Wakiso Uganda</p></li>
          <li><p>Welcoming thousands of members into the fellowship of our church family</p></li>
          <li><p>Developing people to spiritual maturity through bible study</p></li>
          <li><p>Helping souls discover their gifts and talents God gave them</p></li>
          <li><p>Empowering members for missionary work and sending out for evangelism</p></li> 
        </ol>
            
        </p>
        <div class="grid-item about-quote">
          <blockquote> "Righteousness and justice are the foundation of your throne;
          love and faithfulness go before you PSALMS-89-14."</blockquote>
        </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6">
        <img src="{% static 'assets/images/banner3.jpg' %}" class="img-fluid" alt="Church Service">
      </div>
      <div class="col-md-6 mt-md-0 mt-4">
        <img src="{% static 'assets/images/banner1.jpg' %}" class="img-fluid" alt="Church Community Event">
      </div>
    </div>
  </div>
</section>

  <!-- //about-6-->
  
  <!-- /content-6-->
  <section class="w3l-content-6 py-5" id="why">
    <div class="container py-lg-5">
      <div class="row">
        <div class="col-lg-4 content-6-left">
          <h6 class="sub-title">Why Choose Us</h6>
          <h3 class="hny-title">A Community Built on Faith and Love</h3>
        </div>
        <div class="col-lg-4 content-6-right mt-lg-0 mt-4">
          <p class="mb-3">Our church is dedicated to fostering a welcoming environment where individuals and families can grow in their faith.</p>
          <p class="mb-3">We focus on supporting each other through prayer, fellowship, and outreach programs, building a strong, united community.</p>
        </div>
        <div class="col-lg-4 content-6-right mt-lg-0 mt-4">
          <p class="mb-3">With a commitment to service, we engage in local and global missions, sharing God’s love with those in need.</p>
          <p class="mb-3">Join us in making a difference, spreading kindness, and growing spiritually in Christ’s love.</p>
        </div>
      </div>
    </div>
  </section>
  
<!-- //content-6-->
  
 <!-- stats -->
<section class="w3l-statshny py-5" id="stats">
  <div class="container py-lg-5 py-md-4">
    <div class="w3-stats-inner-info">
      <div class="row">
        <div class="col-lg-4 col-6 stats_info counter_grid text-left">
          <span class="fa fa-smile-o"></span>
          <p class="counter">2000</p>
          <h4>Faithful Members</h4>
        </div>
        <div class="col-lg-4 col-6 stats_info counter_grid1 text-left">
          <span class="fa fa-users"></span>
          <p class="counter">100</p>
          <h4>Church Events</h4>
        </div>
        <div class="col-lg-4 col-6 stats_info counter_grid mt-lg-0 mt-5 text-left">
          <span class="fa fa-leaf"></span>
          <p class="counter">15</p>
          <h4>Ministries</h4>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //stats -->

<!-- team -->
<section class="w3l-team" id="team">
  <div class="team-block py-5" style="margin-bottom: 4rem;">
    <div class="container py-lg-5">
      <div class="title-content text-center mb-lg-3 mb-4">
        <h6 class="sub-title">Our Dedicated Leadership</h6>
        <h3 class="hny-title-1">Meet Our Pastors and Leaders</h3>
      </div>
      <div class="row">

      <div class="col-lg-4 col-6 mt-lg-5 mt-4">
          <div class="box16">
            <a href="#url"><img src="{% static 'assets/images/robert_barasa.jpg' %}" alt="robert_barasa" class="img-fluid"></a>
            <div class="box-content">
              <h3 class="title"><a href="#url">Pr.Robert Barasa</a></h3>
              <ul class="social">
                <li>
                  <a href="https://www.facebook.com/profile.php?id=100089707950048&mibextid=ZbWKwL" class="facebook">
                  <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="#" class="twitter">
                  <i class="fab fa-twitter"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        
        <div class="col-lg-4 col-6 mt-lg-5 mt-4">
          <div class="box16">
            <a href="#url"><img src="{% static 'assets/images/team2.jpg' %}" alt="Pastor Shalom Kalungi" class="img-fluid"/></a>
            <div class="box-content">
              <h3 class="title"><a href="#url">Pr. Shalom Kalungi</a></h3>
              <ul class="social">
                <li>
                  <a href="https://www.facebook.com/profile.php?id=100089707950048&mibextid=ZbWKwL" class="facebook">
                  <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="#" class="twitter">
                  <i class="fab fa-twitter"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-6 mt-lg-5 mt-4">
          <div class="box16">
         
            <a href="#url"><img src="{% static 'assets/images/denis.jpeg' %}" alt="Pastor Denis Kalungi" class="img-fluid"  /></a> <!--style="height: 500px; object-fit: cover;"-->
            <div class="box-content">
              <h3 class="title"><a href="#url">Pr. Denis Kalungi</a></h3>
              <ul class="social">
                <li>
                  <a href="https://www.facebook.com/profile.php?id=100089707950048&mibextid=ZbWKwL" class="facebook">
                  <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="#" class="twitter">
                  <i class="fab fa-twitter"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        
       
        <div class="col-lg-4 col-6 mt-lg-5 mt-4">
          <div class="box16">
            <a href="#url"><img src="{% static 'assets/images/david.jpg' %}" alt="Pastor David ssempa figo" class="img-fluid"></a>
            <div class="box-content">
              <h3 class="title"><a href="#url">Pr David Ssempa</a></h3>
              
              <ul class="social">
                <li>
                  <a href="https://www.facebook.com/profile.php?id=100089707950048&mibextid=ZbWKwL" class="facebook">
                  <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="#" class="twitter">
                  <i class="fab fa-twitter"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-6 mt-lg-5 mt-4">
          <div class="box16">
            <a href="#url"><img src="{% static 'assets/images/alex_sebufu.jpg' %}" alt="Pastor Alex Sebuufu" class="img-fluid"></a>
            <div class="box-content">
              <h3 class="title"><a href="#url">Pr. Alex Sebuufu</a></h3>
              
              <ul class="social">
                <li>
                  <a href="https://www.facebook.com/profile.php?id=100089707950048&mibextid=ZbWKwL" class="facebook">
                  <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="#" class="twitter">
                  <i class="fab fa-twitter"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>


        <div class="col-lg-4 col-6 mt-lg-5 mt-4">
          <div class="box16">
            <a href="#url"><img src="{% static 'assets/images/barasa_victoria.jpg' %}" alt="victoria_barasa" class="img-fluid"></a>
            <div class="box-content">
              <h3 class="title"><a href="#url">Pr.Barasa Victoria</a></h3>
              
              <ul class="social">
                <li>
                  <a href="https://www.facebook.com/profile.php?id=100089707950048&mibextid=ZbWKwL" class="facebook">
                  <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="#" class="twitter">
                  <i class="fab fa-twitter"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-6 mt-lg-5 mt-4">
          <div class="box16">
            <a href="#url"><img src="{% static 'assets/images/rose_kiraga.jpg' %}" alt="rose kiraga" class="img-fluid"></a>
            <div class="box-content">
              <h3 class="title"><a href="#url">Elder.Rose Kiraga</a></h3>
              
              <ul class="social">
                <li>
                  <a href="https://www.facebook.com/profile.php?id=100089707950048&mibextid=ZbWKwL" class="facebook">
                  <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="#" class="twitter">
                  <i class="fab fa-twitter"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-6 mt-lg-5 mt-4">
          <div class="box16">
            <a href="#url"><img src="{% static 'assets/images/george_mutumba.jpg' %}" alt="rgeorge_mutumba" class="img-fluid"></a>
            <div class="box-content">
              <h3 class="title"><a href="#url">Pr.George Mutumba</a></h3>
            
              <ul class="social">
                <li>
                  <a href="https://www.facebook.com/profile.php?id=100089707950048&mibextid=ZbWKwL" class="facebook">
                  <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li>
                  <a href="#" class="twitter">
                  <i class="fab fa-twitter"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>

  <!-- //team -->
  {% endblock %}