{% extends 'site/main/base.html' %}
{% load static %}
{% block content %}
 <!-- about breadcrumb -->
<section class="w3l-about-breadcrumb text-left">
  <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
    <div class="container">
      <h2 class="title">Our Services</h2>
      <ul class="breadcrumbs-custom-path mt-2">
        <li><a href="{% url 'sales:homeone' %}">Home</a></li>
        <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Our Services </li>
      </ul>
    </div>
  </div>
</section>
<!-- //about breadcrumb -->

<!-- call to action 5 -->
<section class="w3l-cta5">
  <div class="call-to-action-5 py-5">
    <div class="container py-lg-5">
      <div class="call-to-action-5-content text-center">
        <h3 class="hny-title">We Are Committed to Serving Our Community</h3>
        <P>As Kireka Christian fellowship we are so blessed to have various talents ranging from great talented pastors, 
    apostles and other ministers who provide various services like counselling, dream interpretation, prayers, pastoral
     mentorship, etc. Our team is full of professionals and any data submitted to us will remain confidential and only shared between you and us.

  <P>For any further help from us kindly download the pdf under the service provided, fill in the required details and later attach it to the
     form to be submited which will be well received by our team and help will be provided immediately.</P>
        <!--<a href="#url" class="btn btn-style btn-primary mb-4">Learn More</a>-->
        <div class="three-grids row">
          <div class="col-lg-4 col-md-6 grid mt-md-0 mt-4">
            <div class="icon">
              <span class="fa fa-church" aria-hidden="true"></span>
            </div>
            <div class="icon-info">
              <h4><a href="#">Worship Services</a></h4>
              <p>Join us for weekly worship services that inspire, uplift, and strengthen your faith in God.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 grid mt-md-0 mt-4">
            <div class="icon">
              <span class="fa fa-users" aria-hidden="true"></span>
            </div>
            <div class="icon-info">
              <h4><a href="#">Small Group Ministries</a></h4>
              <p>Get involved in our small group ministries, where you can deepen your faith and build community with others.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-lg-0 mt-4 grid">
            <div class="icon">
              <span class="fa fa-heart" aria-hidden="true"></span>
            </div>
            <div class="icon-info">
              <h4><a href="#">Community Outreach</a></h4>
              <p>Participate in our outreach programs to serve those in need and make a positive impact in the community.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- /call to action 5 -->
<section class="w3l-features14">
  <div class="w3l-feature-6-main py-5">
    <div class="container py-lg-5">
      <div class="wrapper-max">
        <div class="header-section text-center mb-5">
            <h6 class="sub-title">Our Ministries</h6>
            <h3 class="hny-title two">Ministries We Offer</h3>
        </div>
        <div class="grid mt-lg-4">
            <div class="w3l-feature-6-gd">
                <div class="icon"><span class="fa fa-church"></span></div>
                <div class="w3l-feature-6-gd-info">
                    <h3><a href="#url">COUNSELLING</a></h3>
                    <p>Since every one has their own cross to carry, we all face different problems in this world and at-times we loose hope in ourselves thinking 
                    we are failures and that there is no way out. Feel free to share with us and by God's grace we shall help.</p>

                    <div class="serv-button">
                      <form method="get" action="#">
                      <!-- <button class="btn" name="counselling">
                        <i class="fas fa-download"></i>&nbsp;DOWNLOAD
                      </button> -->
                      </form>
                    </div>
                </div>
               
            </div>
            <div class="w3l-feature-6-gd">
                <div class="icon"><span class="fa fa-users"></span></div>
                <div class="w3l-feature-6-gd-info">
                    <h3><a href="#url">DREAM INTERPRETATION</a></h3>
                    <p>Every dream that you receive always has a meaning but their some dreams that we all have and we fail to get what they really 
                     meant. Dont worry about that anymore, a team that was given an insight through all dreams 
                      are here to offer interpretations of all kinds of dreams.</p>
                </div>
                <div class="serv-button">
                  <form method="get" action="#">
                  <!-- <button class="btn" name="dreams">
                    <i class="fas fa-download"></i>&nbsp;DOWNLOAD
                  </button> -->
                  </form>
                </div>
            </div>
            <div class="w3l-feature-6-gd">
                <div class="icon"><span class="fa fa-heart"></span></div>
                <div class="w3l-feature-6-gd-info">
                    <h3><a href="#url">PASTORAL MENTORSHIP</a></h3>
                    <p>As a pastor, you will run up against limits in your life and ministry and of which some will affect your credibility in church and all 
                    that your lead. Join our team so that you can be mentored into a rock that wont be easily destroyed.</p>
                </div>
                <div class="serv-button">
                  <form method="get" action="#">
                  <!-- <button class="btn" name="mentoring">
                    <i class="fas fa-download"></i>&nbsp;DOWNLOAD
                  </button> -->
                  </form>
                </div>

            </div>
        </div>
        
    
        <div class="grid">
            <div class="w3l-feature-6-gd">
                <div class="icon"><span class="fa fa-bible"></span></div>
                <div class="w3l-feature-6-gd-info">
                    <h3><a href="#url">PRAYER</a></h3>
                    <p>The importance of prayer is affirmed throughtout the Bible. As a church, we are commited to pray-your needs are important to us. 
                    Please share your prayer request on this card and return it as directed so we may include your petition in our prayers.</p>
                </div>
                <div class="serv-button">
                <form method="get" action="#">
                <!-- <button class="btn" name="prayer">
                  <i class="fas fa-download"></i>&nbsp;DOWNLOAD
                </button> -->
                </form>
              </div>
            </div>
           
        </div>
      </div>
    </div>
  </div>
</section>
<!--//-->
<!-- 
<div class="donation-form py-5" id="donate">
    <div class="container py-lg-5 py-md-4">
        <h3 class="hny-title mb-lg-5 mb-4">ENTER DETAILS TO SUBMIT FORM</h3>
        <form action="#email" method="post" enctype="multipart/form-data">
              <?php 
                include(ROOT_PATH . "/app/helpers/formErrors.php");
                include(ROOT_PATH . "/app/include/message.php");
              ?>
            <div class="main-input">
                <div class="d-grid">
                    <input type="text" name="name" value="<?php echo $name; ?>" class="contact-input" placeholder="Name" required>

                    <input type="email" name="email" value="<?php echo $email; ?>" class="contact-input" placeholder="Email" required>
                </div>
                <div class="d-grid">
                  <select name="subject"  class="contact-input">
                  <option value="" disabled selected>Select Option</option>

                    <?php if (!empty($subject) && $subject == "counselling"): ?>
                    <option selected value="counselling">Counselling</option>   
                    <?php else: ?>
                    <option value="counselling">Counselling</option>
                    <?php endif; ?>

                    <?php if (!empty($subject) && $subject == "Dream interpretation"): ?>
                    <option selected value="Dream interpretation">Dream interpretation</option>   
                    <?php else: ?>
                    <option value="Dream interpretation">Dream interpretation</option>
                    <?php endif; ?>

                    <?php if (!empty($subject) && $subject == "Pastoral mentorship"): ?>
                    <option selected value="Pastoral mentorship">Pastoral mentorship</option>   
                    <?php else: ?>
                    <option value="Pastoral mentorship">Pastoral mentorship</option>
                    <?php endif; ?>

                    <?php if (!empty($subject) && $subject == "Prayer"): ?>
                    <option selected value="Prayer">Prayer</option>   
                    <?php else: ?>
                    <option value="Prayer">Prayer</option>
                    <?php endif; ?>

                  </select>

                  <input type="file" name="attachment" class="contact-input" placeholder="confirm-password" required>

                </div>
                <div class="d-grid">
                  <textarea rows="3" name="message"  class="contact-input" placeholder="Your message...."><?php echo $message; ?></textarea>
                </div>
            </div>
            
            
            <div class="text-right">
                <button type="submit" name="send" class="btn btn-style btn-secondary btn-donate donate-button">Submit Form</button>
            </div>
        </form>
    </div>
</div> -->


<!--//-->




{% endblock %}