aiohappyeyeballs
aiohttp
aiosignal
amqp
anyio
arrow
asgiref
attrs
autopep8
billiard
black
blessed
boto3
botocore
Brotli
cachetools
celery
certifi
cffi
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cobble
colorama
coverage
crispy-bootstrap5
cron-descriptor
cryptography
cssselect2
decorator
defusedxml
distlib
dj-database-url
Django
django-allauth
django-appconf
django-axes
django-cache-url
django-celery-beat
django-channels
django-ckeditor-5
django-cors-headers
django-countries
django-crispy-forms
django-cron
django-debug-toolbar
django-environ
django-extensions
django-filebrowser
django-filter
django-formtools
django-grappelli
django-guardian
django-imagekit
django-jazzmin
django-js-asset
django-mailer
django-model-utils
django-modeltranslation
django-mptt
django-oauth-toolkit
django-otp
django-parler
django-phonenumber-field
django-picklefield
django-pipeline
django-q
django-recaptcha
django-redis-cache
django-redis-sessions
django-rest-auth
django-rest-passwordreset
django-secure-passwords
django-silk
django-simple-history
django-storages
django-taggit
django-tenants
django-timezone-field
django-two-factor-auth
django-widget-tweaks
django_celery_results
djangorestframework
djangorestframework-jwt
djangorestframework_simplejwt
dotenv
drf-nested-routers
drf-yasg
factory_boy
Faker
filelock
flake8
flower
fonttools
fpdf
fpdf2
frozenlist
geoip2
gprof2dot
gunicorn
h11
httpcore
httpx
humanize
idna
imageio
imageio-ffmpeg
inflection
iniconfig
intasend-python
isort
jmespath
jwcrypto
kombu
lockfile
loguru
lxml
mammoth
maxminddb
mccabe
moviepy
multidict
mutagen
mypy_extensions
numpy
oauthlib
packaging
pathspec
phonenumbers
pilkit
pillow
pipenv
platformdirs
pluggy
proglog
prometheus_client
prompt_toolkit
propcache
pycodestyle
pycparser
pydyf
pyflakes
Pygments
PyJWT
PyMySQL
PyPDF2
pyphen
pypng
pyproject-api
pytest
pytest-cov
pytest-django
python-crontab
python-dateutil
python-decouple
python-docx
python-dotenv
python-magic
pytz
PyYAML
qrcode
redis
reportlab
requests
requests-oauthlib
s3transfer
sentry-sdk
setuptools
six
sniffio
sqlparse
tinycss2
tinyhtml5
tornado
tox
tqdm
types-python-dateutil
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
vine
virtualenv
wcwidth
weasyprint
webencodings
wget
wheel
whitenoise
yarl
zopfli
