{% load static %}

  <section class="w3l-footer-29-main">
    <div class="footer-29 py-5">
      <div class="container py-lg-4">
        <div class="row footer-top-29">
          <div class="footer-list-29 col-lg-4">
              <h6 class="footer-title-29">Awakening Saints</h6>
              <p class="pr-lg-5">Many souls have lost their way to the devils's world because there aren't many people to remind them 
                of the goodness of God and that heaven is real hence a group of believers came together 
                and formed this website to keep the souls in the presence of God</p>
              <div class="main-social-footer-29 mt-4">

                  <a href="https://www.facebook.com/profile.php?id=100089707950048&mibextid=ZbWKwL" class="facebook">
                    <i class="fab fa-facebook"></i>
                  </a>

                  <a href="https://x.com/awakeningsiants" class="twitter">
                    <i class="fab fa-twitter"></i>
                  </a>


                  <a href="https://www.youtube.com/@awakeningsaints.org_2wh " class="youtube">
                    <i class="fab fa-youtube"></i>
                  </a>

              </div>
          </div>
  
          <div class="col-lg-2 col-md-6 col-sm-4 footer-list-29 footer-2 mt-lg-0 mt-5">
          <ul>
           
          </ul>
              <ul>
                <h6 class="footer-title-29">Useful Links</h6>
                 <li><a href="{% url 'sales:homeone' %}">Home</a></li>
                <li><a href="{% url 'sales:services' %}">Services</a></li>
                <li><a href="{% url 'sales:about' %}">About us</a></li>
                <li><a href= "{% url 'sales:books' %}">Books</a></li>
                <li><a href="{% url 'sales:contact' %}">Contact Us</a></li>
               
              </ul>
          </div>
  
       
  
          <div class="col-lg-3 col-md-6 col-sm-8 footer-list-29 footer-1 mt-lg-0 mt-5">
              <h6 class="footer-title-29">Contact Us</h6>
              <ul>
                <li><p><span class="fa fa-map-marker"></span> 
               Kireka Banda, Kampala</p></li>
                <li><a href="tel:+1-800-123-4567"><span class="fa fa-phone"></span>+(256) 706344822</a></li>
                <li><a href="mailto:info@greenfieldschurch.com" class="mail"><i class="fas fa-envelope"></i> <a href="mailto:awakeningsaints1@gmail.com">awakeningsaints1@gmail.com</a></a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
 
<section class="w3l-footer-29-main w3l-copyright">
  <div class="container">
    <div class="bottom-copies">
      <p class="copy-footer-29 text-center">© 2017 Kireka Christian Fellowship Prayer Altar . All rights reserved.</p>
    </div>
  </div>

  <!-- move top -->
  <button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fa fa-angle-up"></span>
  </button>
  <script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
      scrollFunction()
    };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("movetop").style.display = "block";
      } else {
        document.getElementById("movetop").style.display = "none";
      }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
  </script>
  <!-- /move top -->
</section>