{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Login</h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'sales:books' %}">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="">Login/Register</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">

				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Log in to enter</h3>
						<form class="row login_form" action="" method="post" id="contactForm">
							{% csrf_token %}

							{% if form.errors %}
								<div class="alert alert-danger" role="alert">
									Error: Email or Password is invalid!
								</div>
							{% endif %}

							<div class="col-md-12 form-group">
								<input type="email" class="form-control" id="email" name="email" placeholder="Email"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" required>
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="password" name="password" placeholder="Password"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required>
							</div>

							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Log In</button>
								
								<a href="#">Forgot Password?</a>
							</div>
						</form>
					</div>
				</div>


				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="">
						<div class="hover">

							{% if request.user.is_authenticated %}
							<h4>You are registred '{{ user.first_name }} {{user.last_name}}'</h4>
							<p>Feel free to logout at anytime !</p>
								<a class="primary-btn" href="{% url 'accounts:logout' %}">Logout</a>
							{% else %}
							<h4>Create Account</h4>
							<p> This helps you keep track of the transactions and orders you have carried out with the site. </p>
								<a class="primary-btn" href="{% url 'accounts:registration' %}">Create an Account</a>
							{% endif %}
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
{% endblock %}